/*-------Normalize--------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

/*Typography*/
/*Responsive Typography*/
/*------------------GLOBAL----------------*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 0.983rem;
  background-color: #FCFCFD;
  color: #667085; }

h1, h2, h3 {
  color: #22272B;
  font-weight: 600; }

img {
  max-width: 100%;
  height: auto; }

/*Clases Reusables CSS*/
.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.grid {
  display: grid;
  gap: 1.5rem; }

.button {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  background-color: #5997ee;
  color: #FFF;
  padding: 1.15rem 1.5rem;
  border-radius: .5rem;
  transition: .3s;
  box-shadow: 0 8px 24px rgba(89, 151, 238, 0.25); }
  .button i {
    font-size: 1.25rem; }
  .button:hover {
    background-color: #468bec; }

.button__small {
  padding: .75rem;
  box-shadow: none; }

.button__gray {
  background-color: #EAECF0;
  color: #22272B; }
  .button__gray:hover {
    background-color: #92A2B3; }

/*---------------PERFIL--------------------*/
.profile {
  position: relative;
  padding-top: 3.5rem; }
  .profile .profile__container {
    row-gap: 2rem; }
    .profile .profile__container .profile__data {
      display: grid;
      text-align: center; }
      .profile .profile__container .profile__data .profile__border {
        border: 3.5px solid #5997ee;
        justify-self: center;
        width: 115px;
        height: 115px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        margin-bottom: 0.75rem; }
        .profile .profile__container .profile__data .profile__border .profile__perfil {
          width: 100px;
          height: 100px;
          background: linear-gradient(180deg, #5997ee 0%, rgba(89, 151, 238, 0.2) 100%);
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center; }
          .profile .profile__container .profile__data .profile__border .profile__perfil img {
            width: 75px; }
      .profile .profile__container .profile__data .profile__name {
        font-size: 1.25rem; }
      .profile .profile__container .profile__data .profile__profession {
        font-size: 0.75rem;
        font-weight: 500;
        color: #667085;
        margin-bottom: 1rem; }
      .profile .profile__container .profile__data .profile__social {
        display: flex;
        justify-content: center;
        column-gap: .75rem; }
        .profile .profile__container .profile__data .profile__social .profile__social--link {
          font-size: 1.25rem;
          color: #22272B;
          transition: .3s; }
          .profile .profile__container .profile__data .profile__social .profile__social--link:hover {
            color: #5997ee; }
    .profile .profile__container .profile__info {
      grid-template-columns: repeat(3, max-content);
      justify-content: center;
      column-gap: 2.5rem; }
      .profile .profile__container .profile__info .profile__info-group {
        text-align: center; }
        .profile .profile__container .profile__info .profile__info-group .profile__info-number {
          font-size: 0.983rem;
          margin-bottom: .25rem; }
        .profile .profile__container .profile__info .profile__info-group .profile__info-description {
          font-size: 0.75rem;
          font-weight: 500; }

.profile__buttons, .profile__buttons-small {
  display: flex;
  align-items: center;
  justify-content: center; }

.profile__buttons {
  column-gap: 1rem; }

.profile__buttons-small {
  column-gap: 0.25rem; }
