/*-------Normalize--------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

/*Typography*/
/*Responsive Typography*/
/*------------------GLOBAL----------------*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 0.983rem;
  background-color: #FCFCFD;
  color: #667085; }

h1, h2, h3 {
  color: #22272B;
  font-weight: 600; }

img {
  max-width: 100%;
  height: auto; }

/*Clases Reusables CSS*/
.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.grid {
  display: grid;
  gap: 1.5rem; }

.button {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  background-color: #5997ee;
  color: #FFF;
  padding: 1.15rem 1.5rem;
  border-radius: .5rem;
  transition: .3s;
  box-shadow: 0 8px 24px rgba(89, 151, 238, 0.25); }
  .button i {
    font-size: 1.25rem; }
  .button:hover {
    background-color: #468bec; }

.button__small {
  padding: .75rem;
  box-shadow: none; }

.button__gray {
  background-color: #EAECF0;
  color: #22272B; }
  .button__gray:hover {
    background-color: #92A2B3; }

/*-----------FILTERS TABS-----------------*/
.filters__content {
  margin: 2rem 0 2.5rem;
  background-color: #EAECF0;
  padding: .375rem;
  border-radius: .75rem;
  display: flex;
  justify-content: space-between;
  column-gap: .5rem; }

.filters__button {
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  color: #22272B;
  font-size: 0.813rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: .75rem;
  cursor: pointer;
  background-color: transparent;
  transition: .3s; }
  .filters__button:hover {
    background-color: #FCFCFD; }

/*----------SHOW/HIDE PROJECTS & FEATURES & BUDGET------------*/
.filters [data-content] {
  display: none; }

.filters__active[data-content] {
  display: grid; }

.filter-tab-active {
  background-color: #FCFCFD; }

/*-------------FOOTER----------------*/
.footer__copy {
  display: block;
  margin: 2.5rem 0 2rem;
  text-align: center;
  font-size: 0.75rem;
  color: #92A2B3; }

::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: #a1a9af; }

::-webkit-scrollbar-thumb {
  width: .6rem;
  border-radius: .5rem;
  background-color: #808b93; }

::-webkit-scrollbar-thumb:hover {
  background-color: #677179; }

/*---------------PERFIL--------------------*/
.profile {
  position: relative;
  padding-top: 3.5rem; }
  .profile .profile__container {
    row-gap: 2rem; }
    .profile .profile__container .profile__data {
      display: grid;
      text-align: center; }
      .profile .profile__container .profile__data .profile__border {
        border: 3.5px solid #5997ee;
        justify-self: center;
        width: 115px;
        height: 115px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        margin-bottom: 0.75rem; }
        .profile .profile__container .profile__data .profile__border .profile__perfil {
          width: 100px;
          height: 100px;
          background: linear-gradient(180deg, #5997ee 0%, rgba(89, 151, 238, 0.2) 100%);
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center; }
          .profile .profile__container .profile__data .profile__border .profile__perfil img {
            width: 75px; }
      .profile .profile__container .profile__data .profile__name {
        font-size: 1.25rem; }
      .profile .profile__container .profile__data .profile__profession {
        font-size: 0.75rem;
        font-weight: 500;
        color: #667085;
        margin-bottom: 1rem; }
      .profile .profile__container .profile__data .profile__social {
        display: flex;
        justify-content: center;
        column-gap: .75rem; }
        .profile .profile__container .profile__data .profile__social .profile__social--link {
          font-size: 1.25rem;
          color: #22272B;
          transition: .3s; }
          .profile .profile__container .profile__data .profile__social .profile__social--link:hover {
            color: #5997ee; }
    .profile .profile__container .profile__info {
      grid-template-columns: repeat(3, max-content);
      justify-content: center;
      column-gap: 2.5rem; }
      .profile .profile__container .profile__info .profile__info-group {
        text-align: center; }
        .profile .profile__container .profile__info .profile__info-group .profile__info-number {
          font-size: 0.983rem;
          margin-bottom: .25rem; }
        .profile .profile__container .profile__info .profile__info-group .profile__info-description {
          font-size: 0.75rem;
          font-weight: 500; }

.profile__buttons, .profile__buttons-small {
  display: flex;
  align-items: center;
  justify-content: center; }

.profile__buttons {
  column-gap: 1rem; }

.profile__buttons-small {
  column-gap: 0.25rem; }

/*--------------PROJECTS-----------------*/
.projects__card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  transition: .3s; }
  .projects__card img {
    width: 100%;
    height: 100%; }
  .projects__card .projects__modal {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    background: linear-gradient(180deg, rgba(78, 104, 126, 0.3) 0%, #080a0d 95%);
    display: grid;
    align-items: flex-end;
    padding: 1.5rem 1.25rem;
    transition: .3s; }
    .projects__card .projects__modal .projects__subtitle {
      font-size: 0.75rem; }
    .projects__card .projects__modal .projects__title {
      font-size: 1rem;
      margin-bottom: .75rem; }
    .projects__card .projects__modal .projects__button {
      padding: .5rem; }

.projects__subtitle, .projects__title {
  color: #FFF; }

.projects__card:hover .projects__modal {
  bottom: 0; }

/*------------------FEATURES----------------------*/
.features__content {
  row-gap: 2rem; }
  .features__content .features__area .features__title {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1.5rem; }
  .features__content .features__area .features__box {
    display: flex;
    justify-content: center;
    column-gap: 3rem; }
    .features__content .features__area .features__box .features__group {
      display: grid;
      align-content: flex-start;
      row-gap: 1rem; }
      .features__content .features__area .features__box .features__group .features__data {
        display: flex;
        column-gap: .5rem; }
        .features__content .features__area .features__box .features__group .features__data i {
          font-size: 1rem;
          color: #5997ee; }
        .features__content .features__area .features__box .features__group .features__data .features__name {
          font-size: 0.983rem;
          font-weight: 500;
          line-height: 18px; }
        .features__content .features__area .features__box .features__group .features__data .features__level {
          font-size: 0.75rem; }
