/*----------SHOW/HIDE PROJECTS & FEATURES & BUDGET------------*/
.filters [data-content] {
    display: none;
}

.filters__active[data-content] {
    display: grid;
}

.filter-tab-active {
    background-color: var(--body-color);
}