//Variables--Colores

$primary-color: #5997ee;
$primary-color-alt: #468bec;
$title-color: #22272B;
$text-color: #667085;
$text-color-light: #92A2B3;
$text-color-lighten: #EAECF0;
$body-color: #FCFCFD;
$container-color: #FFF;