/*Typography*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

$body-font: 'Poppins', sans-serif;
$h2-font-size: (
    null: 1.25rem,
    '992px': 1.5rem
);
$h3-font-size: (
    null : 1rem,
    '992px': 1.25rem
);
$normal-font-size: (
    null : .875rem,
    '992px': 1rem
);
$small-font-size: (
    null : .813rem,
    '380px': .85rem,
    '992px': .875rem
);
$smaller-font-size: (
    null : .75rem,
    '992px': .813rem
);