/*------------------GLOBAL----------------*/
body{
    font-family: $body-font;
    font-size: $normal-font-size;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .3s;
}
h1,  h2, h3 {
    color: var(--title-color);
    font-weight: 600;
}
img {
    max-width: 100%;
    height: auto;
}

/*Clases Reusables CSS*/
.container {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.grid {
    display: grid;
    gap: 1.5rem;
}